.header {
    max-height: max-content;
    width: 100%;
    border: thin solid black;
    padding-top: 15px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: burlywood;    
} 

body{
  background-repeat: no-repeat;
  background-size: 100%;
}

.searchBtn{
    background-color: cornsilk;
    color: blue;
}

.container{
    display: flex;
    justify-content: center;
    border: solid black 5px;   

}


.suggestedCities{
    border: black solid 5px;
    height: max-content;
    padding: 20px;
    width: 190px;
}

.fiveDayForecast{
    display: flex;  
    justify-content: center;
}


.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid black 1px;
}



a:link, a:visited {
    background-color: green;
    color: white;
    padding: 15px 35px;
    text-align: center;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }




@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }